{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}

    <body>
<header class="hero">
    <div class="hero-wrap">
        <h1 id="headline">Tu aimes les films sur les gladiateurs ...</h1>
        <p class="year"><i class="fa fa-star"></i> 2018 <i class="fa fa-star"></i></p>
        <p><a href="{{ path('allcountries_index') }}"> Les Ludus Magnus*</a></p>
        <p><a href="{{ path('tournament_index') }}">Let's get ready to Rumble</a></p>
    </div>
</header>

<section class="share">
    <div class="share-wrap">
        <p class="ludus">*=Instant Culture G ludus = Centre d'entrainement des gladiateurs !</p>
        <a class="share-icon" href="https://twitter.com/basement47"><i class="fa fa-twitter"></i></a>
        <a class="share-icon" href="#"><i class="fa fa-facebook"></i></a>
        <a class="share-icon" href="#"><i class="fa fa-envelope"></i></a>

    </div>
</section>
{% endblock %}